<!-- Left Sidebar -->
<div class="site-menubar site-menubar-dark">
    <div class="site-menubar-header">
        <div class="cover overlay">
            <img class="cover-image" src="img/dashboard-header.jpg"
                    alt="...">
            <div class="overlay-panel vertical-align">
                <div class="vertical-align-middle">
                    <a class="avatar avatar-lg" href="javascript:void(0)">
                        <img src="img/portraits/don.jpg" alt="">
                    </a>
                    <div class="site-menubar-info">
                        <h5 class="site-menubar-user">Don</h5>
                        <p class="site-menubar-email">don.irwin@drivetime.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-menubar-body">
        <ul class="site-menu">
            <li class="site-menu-item has-sub active">
                <a href="javascript:void(0)">
                    <i class="site-menu-icon md-view-compact" aria-hidden="true"></i>
                    <span class="site-menu-title">Survey</span>
                    <span class="site-menu-arrow"></span>
                </a>
            </li>
        </ul>
    </div>
</div>